[Unit]
Description=Clawdmeter MQTT Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash */Clawdmeter-CYD/daemon/claude-usage-mqtt.sh
Restart=on-failure
RestartSec=10
Environment=MQTT_BROKER=x.x.x.x
Environment=MQTT_USER=
Environment=MQTT_PASS=

[Install]
WantedBy=default.target
